body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://thehande.files.wordpress.com/2017/08/mega-man-and-rush.png');
  background-position: top;
  background-repeat: no-repeat;
}
